@import "null.css";

/* universal attributes */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: url("../img/training_l7/moon.png") 20px 30px / 300px auto no-repeat fixed,
    url("../img/training_l7/mouse.png") right bottom / 300px auto no-repeat fixed,
    url("../img/training_l7/bg-for-wrapper.jpg") 0 0 / auto auto repeat;
}

[class*="__container"] {
  max-width: 830px;
  padding: 0 15px;
  margin: 0 auto;
}

/* other attributes */

/* header attributes */

.header-clouds {
  overflow-y: scroll;
  max-height: 400px;
  background: url("../img/training_l7/stars.jpg") 0 0 / auto auto repeat local;
}

.header-text {
  opacity: 0;
}

/* main attributes */

.main {
  margin-bottom: 30px;
}

.main-block {
  min-height: 400px;
  background: url("../img/training_l7/rocket.jfif") 220px -29px / 1200px auto no-repeat fixed;
}

.main-block-2 {
  min-height: 1000px;
  background: url("../img/training_l7/the-end.jfif") 610px 770px / 150px auto no-repeat,
    url("../img/training_l7/stars.png") -39px -136px / 888px auto no-repeat,
    url("../img/training_l7/an-array-of.png") right bottom / 250px auto no-repeat,
    linear-gradient(180deg, #995fbb, #226f91, #731780);
}

/* footer attributes */

.footer__container {
  text-align: center;
  margin-bottom: 30px;
}

.footer-btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 45px 15px 45px 15px;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;

  color: #995fbb;
  background: linear-gradient(92deg, #3667aa, #23af8c, #731780, #4c1ebc, #b1b9f6);
}
